In [1]:
import sys
import pandas as pd

In [2]:
courses = ['python','math','machine_learning']
student_J = ['a','a']
student_B = ['b','a','b']

# Structured

In [3]:
b = pd.DataFrame(pd.Series(student_B, index=courses), columns = ['student_B'])
b

                 student_B
python                   b
math                     a
machine_learning         b

In [4]:
j = pd.DataFrame(pd.Series(student_J, index=courses[:-1]), columns = ['student_J'])
j

       student_J
python         a
math           a

In [5]:
pd.concat([b, j], axis=1, join="outer").T

          python math machine_learning
student_B      b    a                b
student_J      a    a              NaN

# Semi structured

### courses = ['python','math','machine_learning']
### student_J = ['a','a']
### student_B = ['b','a','b']

In [6]:
gradesJ = []
for i in range(len(student_J)):
    gradesJ.append({'course':courses[i], 'grade':student_J[i]})
gradesJ

[{'course': 'python', 'grade': 'a'}, {'course': 'math', 'grade': 'a'}]

In [7]:
gradesB = []
for i in range(len(student_B)):
    gradesB.append({'course':courses[i], 'grade':student_B[i]})
gradesB

[{'course': 'python', 'grade': 'b'},
 {'course': 'math', 'grade': 'a'},
 {'course': 'machine_learning', 'grade': 'b'}]

In [8]:
students = {}

In [9]:
students.update({'Student_J':gradesJ})
students

{'Student_J': [{'course': 'python', 'grade': 'a'},
  {'course': 'math', 'grade': 'a'}]}

In [10]:
students.update({'Student_B': gradesB})
students

{'Student_J': [{'course': 'python', 'grade': 'a'},
  {'course': 'math', 'grade': 'a'}],
 'Student_B': [{'course': 'python', 'grade': 'b'},
  {'course': 'math', 'grade': 'a'},
  {'course': 'machine_learning', 'grade': 'b'}]}

### {Student : [  {'all about this student in a standart format'}  ]  }

In [11]:
students.keys()

dict_keys(['Student_J', 'Student_B'])

In [12]:
students['Student_J']

[{'course': 'python', 'grade': 'a'}, {'course': 'math', 'grade': 'a'}]